.background-degrade {
    /* background-image: linear-gradient(to right, #008d99, #2c5697, #008d99); */
   /*background-image: linear-gradient(to right, #4AB3B6, #669ECC, #4AB3B6);*/
    background-size: cover; /* Asegura que el degradado cubra completamente el área del elemento */
    background-position: center; /* Centra el degradado en el elemento */
    width: 100%; /* Establece el ancho del elemento al 100% del contenedor padre */
    height: 100%; /* Establece la altura del elemento al 100% del contenedor padre */
    min-height: 90vh; /* Opcional: Asegura que el elemento tenga al menos la altura de la ventana gráfica */
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    position: relative;
    overflow: hidden;
}

.logo {
    width: 120px; /* Ajusta el tamaño del logo según necesites */
    height: 120px; /* Asegúrate de que el alto y el ancho sean iguales para formar un círculo perfecto */
    border-radius: 30%; /* Esto crea el radio circular, haciendo el logo redondo */
    object-fit: cover; /* Asegura que la imagen se ajuste bien sin distorsionarse, en caso de que no sea cuadrada */
    display: block; /* Esto puede ayudar a evitar problemas de alineación */
    margin: 0 auto 1rem; /* Centra el logo horizontalmente y añade un margen inferior para separarlo del contenido siguiente */
}

/* Estilos específicos para el encabezado de la tarjeta */
.card-header {
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    background-image: linear-gradient(to right,  #790f49,#008d99,#2c5697, #008d99, #790f49); /* Degradado de izquierda a derecha */
}

.card-title {
    text-align: center; /* Asegura el centrado del texto */
    font-weight: bold; /* Mantén el texto en negrita */
    margin-bottom: 0rem; /* Ajusta el margen inferior según necesites */
    font-size: 1.5rem; /* Ajusta el tamaño de fuente según necesites */
}
.label-tex {
    margin-left: 10px; /* Ajusta este valor para moverlo más a la derecha */
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.075);
    border-radius: 0.5rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    overflow: hidden;
    background-color: #ffffff;
    width: 30rem; /* Tamaño fijo para mantener el tamaño de la tarjeta constante */
    height: auto; /* Permite que la altura se ajuste al contenido */
    margin: 2rem auto;
}


.form-group {
    display: flex;
    justify-content: center; /* Centra los elementos hijos horizontalmente */
    flex-direction: column; /* Alinea los elementos hijos verticalmente */
    margin-bottom: 0.5rem; /* Espaciado reducido entre campos */
}

/* Estilos de elementos de formulario para uniformidad---- para que los lebal queden largor quitar el centro y poner:     width: 94.5%;  */
.form-input,
input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
    border-radius: 0.3rem; /* Ligeramente más redondeado */
    padding: 0.75rem; /* Padding ajustado para que el campo sea un poco más compacto */
    width: 90.5%; /* Ajusta el ancho como necesites */
    border: 1px solid #ced4da;
    font-size: 0.9rem; /* Tamaño de fuente más pequeño para los inputs */
    display: block; /* Asegura que el elemento se trate como bloque, permitiendo que los márgenes automáticos funcionen */
    margin-left: auto; /* Margen automático izquierdo */
    margin-right: auto; /* Margen automático derecho */
}

.form-input:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
    border-color: #007bff; /* Color de foco que coincide con el botón */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Sombra de foco más definida */
}

.invalid-feedback {
    color: #d9534f; /* Color de error más estándar */
    font-size: 0.85rem; /* Ligeramente más grande para mejor legibilidad */
    margin-top: 0.25rem;
}



/* Botones y feedback */
.btn {
    background-color: #007bff;
    border-color: #007bff;
    color: #ffffff;
    width: 30%; 
    height: 2rem; 
    display: block; 
    margin: 0 auto;
    border-radius: 10%;
}

.btn:hover {
    background-color: #00b34b; /* Color más oscuro en hover para mejor feedback */
    border-color: #00b34b;
}

/* TEXTO COLOR ALERTAS */
.text-danger {
    color: #d9534f; /* Color consistente con invalid-feedback para errores */
}


