<div class="contenido">
    <h2>Gestión de Roles</h2>
  
    <div class="search-section">
      <input type="text" [(ngModel)]="searchQuery" (ngModelChange)="filterRoles()" placeholder="Buscar roles...">
    </div>
  
    <div class="crud-buttons">
      <button (click)="showCreateRoleForm()">Crear Rol</button>
    </div>
  
    <div *ngIf="isCreateRoleFormVisible" class="role-form">
      <input type="text" [(ngModel)]="selectedRole.name" placeholder="Nombre del Rol">
      <input type="text" [(ngModel)]="selectedRole.status" placeholder="Status">
      <!-- Añade más campos según necesites -->
      <div class="form-buttons">
        <button (click)="selectedRole.id ? updateRole() : createRole()">Guardar</button>
        <button (click)="hideCreateRoleForm()">Cancelar</button>
      </div>
    </div>
  </div>
  
  <table id="tablaRoles">
    <thead>
      <tr>
        <th>ID</th>
        <th style="text-align: center;">Nombre</th>
        <th style="text-align: center;">Estado</th>
        <th style="text-align: center;">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let role of roles">
        <td>{{ role.id }}</td>
        <td>{{ role.name }}</td>
        <td>{{ role.status }}</td>
        <td>
          <button (click)="selectRole(role)">Editar</button>
          <button (click)="deleteRole(role.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
  